---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'Myself', url: '/myself/' },
  { name: 'Works', url: '/work/' },
  { name: 'Contact', url: '/contact/' },
];

const socialIcons = [
  {
    name: 'Pinterest',
    url: 'https://www.pinterest.com/cintiaaa_romero',
    icon: 'i-mdi-pinterest',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/cintiaaaromero',
    icon: 'i-mdi-linkedin',
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/cintiaaaromero',
    icon: 'i-mdi-instagram',
  }
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='righteous md:text-5xl'>Cintia Romero</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-violet-600 hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-violet-600 hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`'See Cintia Romero on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul class="flex gap-4">
      <li><a href='/'>Home</a></li>
      <li><a href='/myself/'>Myself</a></li>
      <li><a href='/work/'>Works</a></li>
      <li><a href='/contact/'>Contact</a></li>
    </ul>
  </nav>
</header>
